* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    align-items: baseline;
}

select{
    background: #515151;
    color: white;
    border-radius: 13% 20%;

}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: #F3E9E9;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    z-index: 2;
    color: #fff;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 3rem;
}

.header button,
.footer button {
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

button:hover {
    background: rgb(65, 65, 66);
    background: linear-gradient(0deg, #515151 0%, #909090 100%);
    scale: 1.02;
    transition-duration: 100ms;
}

.ancor-login {
    text-decoration: none;
    color: #fff;
    background: #8c3f23;
}
.header .button-login {
    display: flex;
    font-size: 40px;
    padding: 0 1rem;
    background-color: transparent;
    border-radius: 0;
}

.header button.active {
    background-color: darkgrey;
}

.header .button-login:hover {
    background: rgb(62, 20, 20);
    background: linear-gradient(0deg, #652b2b 0%, #561212 100%);
}

h2{
   padding-left: 20%;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    padding-bottom: 2%;
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #b5b5b5;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.sem-resultado{
    padding-left: 16%;
}

.main-content {
    flex: 1;
    text-align: left;
    padding-left: 20%;
    padding-top: 3%;
    width: 25%;
    display: flex;
    flex-direction: column;

}


.container > img {
    width: 75%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 20px;
    margin-top: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #142126;
    border: 1px solid black;
    color: #fff;
    /*padding: 0 1rem;*/
}

.header {
    height: 8%;
    background-color: #142126;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .sidebar img {
        width: 59%;
        height: 100%;
    }

    .header .button-login {
        font-size: 20px;
        padding: auto;
    }

    .container .main-content {
        padding: 40px;
        padding-top: 80px;
        margin: 0;
    }
}

.sidebar img {
    width: 90%;
    height: 50%;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 30px;
    margin-top: 60px;
}




.header .custom-input {
     color: red;
     height: 2px;
     background-color: yellow;
     border: 1px solid black;
 }

.header {
    height: 8%;
    background-color: #142126;
    border: 1px solid black;
}


.imagem {
    position: relative;
    margin-bottom: 20px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.imagem .image-text {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 3%;
    font-size: 20px;
}

.artista {
    margin-bottom: 110%;
}

.artista .container img {
    width: 50%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 30px;
}

.artista .container .image-text {
    margin-bottom: 10%;
    padding-left: 15%;
    padding-bottom: 2%;
    margin: 0;
    font-size: 20px;
}

.artista p{
    width: 50%;
}




