*{
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #142126;
    height: 0%;
    width: 100%;
    box-sizing: border-box;

}

footer{
    background: #142126;
    position: fixed;
    bottom: 0%;
    height: 10%;
    width: 100%;
    text-align: center;


}

h1 {
    text-align:start;
    color: white;
    line-height: 100%;
    margin: 30px;
    font-size: 20px;
    position: fixed;
}

h2{
    text-align: center;

}

h3{
    text-align: center;
    font-size: 40px;
}

.button-estilo {
    background: transparent;
    border: none;
}
.button-estilo:hover{
    border: black;
}

article {
    width: 100%;
    margin: 5px;
    padding-top: 5px;
    background: #F3E9E9;
    text-align: center;
    font-size: 15px;
}

img{
    widhth: 20%;
}

input{
    border-radius: 50px;
    border: #F3E9E9;
    background-color: #f3f3f3;
    width: 250px;
    text-align: center;


}

.user-text{
 color: white;
    font-size: 20px;
    font-weight: bolder;
}

section {
    display: flex;
    flex-direction: row;
}

.sair{
    text-align: end;

}

h6{
    font-size: 100px;
}


.button-header {
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
}

.button-corpo {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    background: #142126;
}
button:hover {
    background: rgb(65, 65, 66);
    background: linear-gradient(0deg, #515151 0%, #909090 100%);
    scale: 1.02;
    transition-duration: 100ms;
}

