* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    align-items: baseline;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #F3E9E9;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #515151;
    position: fixed;
    z-index: 2;
    color: #fff;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.header button,
.footer button {
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #515151;
}

button:hover {
    background: rgb(65, 65, 66);
    background: linear-gradient(0deg, #515151 0%, #909090 100%);
    scale: 1.02;
    transition-duration: 100ms;
}

.ancor-login {
    text-decoration: none;
    color: #fff;
}
.header .button-login {
    display: flex;
    font-size: 40px;
    padding: 0 1rem;
    background-color: #8c3f23;
    border-radius: 0;
}

.header button.active {
    background-color: darkgrey;
}

.header .button-login:hover {
    background: rgb(62, 20, 20);
    background: linear-gradient(0deg, #652b2b 0%, #561212 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

select{
    background: #515151;
    color: white;
    border-radius: 13% 20%;

}

label{
    color: white;
    font-weight: bolder;
}

aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #b5b5b5;
    padding: 20px;
    height: 100%;
}

.sidebar img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 30px;
    margin-top: 62%;
}

.main-content {
    flex: 1;
    /*text-align:center;*/
    padding-left: 25%;
    /*width: 50%;*/
    height: 42%;
    display: flex;
    flex-direction: column;
}

p{
    word-wrap: break-word;
}

.container > img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 20px;
    margin-top: 60px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    background-color: #142126;
    border: 1px solid black;
    color: #fff;
    width: 100%;
    z-index: 200;
    padding: 0 1rem;
}

@media (max-width: 768px) {
    .sidebar img {
        width: 100px;
        width: 100px;
        height: 100px;
    }

    .header .button-login {
        font-size: 20px;
        padding: auto;
    }

    .container .main-content {
        padding: 40px;
        padding-top: 80px;
        margin: 0;
    }
}

.header {
    height: 8%;
    background-color: #142126;
    border: 1px solid black;
}

.custom-input {
    height: 5%;
    margin-top: 3%;
    border-radius: 10%;
}

