* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
  }
  
  .Test {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0%;
    top: 0%;
    background: #142126;
    border: 1px solid #000000;
  }
  
  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
  }
  
  
  .login {
    position: absolute;
    left: 63%;
    top: 50%;
    border-radius: 100%;
  }
  
  input {
    border-radius: 500px;
    background-color: #f3f3f3;
  }
  
  div {
    display: inline-block;
  }

  .button-position {
    background-image: url("/img/botao_entrar.png");
    font-size: 100%;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 61%;
    top: 65%;
  }

aside{
  display: flex;
  position: relative;
  left: 58%;
  bottom: 80%;
  padding-top: 1%;
}

button:hover {
  background-color: darkgrey;
  background: rgb(65, 65, 66);
  border: none;
  background: linear-gradient(0deg, #515151 0%, #909090 100%);
  scale: 1.02;
  transition-duration: 100ms;
}

.button-estilo-aside {
  background: #142126;
  color: white;
  margin-left: 25px;
  border-radius: 5px;
  font-size: 18px;
}

  h2 {
    position: absolute;
    left: 61%;
    top: 65%;
    background: transparent;
  }



  h3 {
    position: absolute;
    width: 100%;
    left: 57%;
    top: 10%;
    background: url(logo2.png);
    backdrop-filter: blur(2%);
  }
  