html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    width: 100%; 
    height: 60px;
    background: #515151;
    /* justify-content: space-between; */
    align-items: center;
    display: flex;
    flex-direction: row; 
    position: fixed;
  }

  .Menu_opcoes{
    width: 90%;
    line-height: 100px;
    font-size: 60px;
    display: flex;
    text-align: center;
    gap: 12px;
    color: white;
    align-items: center;
    justify-content: center;  
    /* justify-content: space-evenly; */
  }


  .Botao_login{
    width: 100px;
    height: 60px;
    font-size: 40px;
    padding: 0 40px;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #8C3F23;
    color: white;
  }

 .Img_login{
    width: 36px;
    height: 36px;
    display: flex;
 }

  .link{
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-decoration: none;
  }

  a{
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    text-decoration: none;
  }

  article {
    padding: 150px 130px;
    margin: 10px;
  }
  
  .container{
    background: #D9BFA0;
    height: 625px;
    padding: 20px 35px;
    margin: 0;
  }

  #artista{
    border-radius: 10%;
    height: 250px;
    width: 250px;
    margin-top: 100px;
    display: flex;
  }

  #genero, #albuns{
    display: flex;
    margin-top: 40px;
    padding: 5px 0px;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  footer{
    width: 100%; 
    color:aliceblue;
    background: #515151;
    align-items: center;
    display: flex;
    flex-direction: row; 
  }

  .Botao_wiki{
    padding: 0 190px;
    border: none;
    outline: none;
    align-items: center;
    display: flex;
    flex-direction: row; 
    gap: 750px;
  }

  #biblio{
    /* align-items: center;
    display: flex;
    flex-direction: row; */
  }

  @media (max-width: 768px){
    
    #artista{
      width: 100px;
      height: 100px;
    }

    #genero{
      margin-top: 20px;
      padding: 5px 0px;
      font-size: 16px;
    }

    #albuns{
      padding: 5px 0px;
      font-size: 16px;
    }
  }